@import 'config/styles/vars.scss';

.container {
  background: $color-400;
  padding: $space-400;
  max-width: 640px;
  margin: 0 auto;
  @include breakpoint(tablet) {
    display: flex;
  }
}
.thumbnail {
  @include breakpoint(tablet) {
    flex: 0 0 40%;
  }
  img {
    width: 100%;
  }
}
.meta {
  width: 100%;
  overflow: hidden;
  @include breakpoint(tablet) {
    margin-left: $space-400;
  }
}
.title {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  margin-bottom: $space-100;
  a {
    color: #fff;
  }
  @include breakpoint(tablet) {
    font-size: 15px;
  }
}
.sharedBy {
  color: $color-300;
  margin-bottom: $space-100;
  font-size: 12px;
}
.description {
  display: none;
  @include breakpoint(tablet) {
    display: block;
    font-size: 14px;
    line-height: 21px;
    color: $color-300;
  }
}
.statistics {
  display: flex;
  align-items: center;
  margin-bottom: $space-100;
  color: $color-300;
  font-size: 12px;
  div {
    display: flex;
    align-items: center;
    margin-right: $space-300;
    &:last-of-type {
      margin-right: 0;
    }
    span {
      margin-left: $space-100;
    }
  }
}
